.product_container{
    padding: 15px;
    border: 2px solid sandybrown;
    margin: 15px;
    border-radius: 12px;
 
}

.product_container img{
    width: 267px;
    height: 267px;
    display: block;
    margin: 0 auto;
}
.button{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    font-weight: 800;
}
.button:hover{
    background-color: darkgoldenrod;
}